.container {
  background: lavenderblush;
}

.calculator {
  background: #133337;
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
}

.brian {
  font-size: 1rem;
}


/* dropdown */
select {
  width: 1.1rem;
  margin-bottom: 0.7rem;
  margin-left: 4.9rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
}


select option {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

 /* paragraph */
 form .calculate {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  transform: rotate(55deg);
  opacity: 0.25;
}


.calculator form input {
  font-weight: bold;
  width: 30px;
  height: 30px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.4),5px 5px 15px rgba(0, 0, 0, 0.3);
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: .625rem;
  margin: .3125rem;
}

form .display input {
  margin-bottom: -0.7rem;
}

.calculator form #last-div .equal {
  width: 80px;
}